@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar-nav a{
  color: white !important;
}

.dropdown-menu a{
  color: white !important;
}

.navbar-brand {
  color: #ffffff !important;
  font-family: 'Oswald', sans-serif;
}

.hlButton{
    padding-top: 13px;
    text-decoration: none;
    color: white;
    margin-left: 25px;
}

.hlButton:hover {
  color: #fadd45;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}
