@media all and (min-width: 480px) {
  .LoginForm {
    padding: 60px 0;
  }

  .LoginForm form {
    margin: 0 auto;
    width: 320px;
  }
}
<<<<<<< HEAD:src/styles/LoginForm.css
=======
#spacing{
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}
>>>>>>> d1e3b423897ad8ca05be3f68cb3ffd8aaa9e0552:src/styles/Login.css
