/*written by: Derek, Erika*/
.toggleButton {
	margin: 0px 60px 0px 60px;
}

#buttonDiv{
	margin: auto;
	width: 55%;
	align-content: center;
	margin-left: 390px;
	padding-top: 20px;
	padding-bottom: 20px;

}
