h3{
  text-align: left;
  margin-left: 350px;
}

.column{
  float: left;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}

#left{
  text-align: left;
}

#right{
  text-align: right;
}

#wrapper{
  text-align: center;
  border: 2px solid grey;
  margin-left: 350px;
  margin-right: 350px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}
